$mainColor: #110327;
$purple: #a478ff;
$pink: #ff21be;
$lightpink: #ff99e0;
$gold: #ffbc62;

$blue: rgb(63, 84, 181);
$mainBg: rgb(245, 245, 245);
$white: rgb(255, 255, 255);
$gray: rgb(117, 117, 117);
$yellow: rgb(247, 187, 0);
$red: rgb(208, 51, 27);
$purple: rgb(154, 76, 244);
